[submodule "aoc-core-rs"]
  path = aoc-core-rs
  url = https://github.com/massimopavoni/aoc-core-rs

[submodule "AoC2015-C"]
  path = AoC2015-C
  url = https://github.com/massimopavoni/AoC2015-C

[submodule "AoC2023-Haskell"]
  path = AoC2023-Haskell
  url = https://github.com/massimopavoni/AoC2023-Haskell

[submodule "AoC2024-Rust"]
  path = AoC2024-Rust
  url = https://github.com/massimopavoni/AoC2024-Rust

[submodule "AoC2025-Rust"]
  path = AoC2025-Rust
  url = https://github.com/massimopavoni/AoC2025-Rust
